<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Create a Team and Heroes!</h1>
    <form method='post' action='/teams'>
      
      
    </form>
  
  </body>
</html>
