<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Create a Team and Heroes!</h1>
    <form method='post' action='/teams'>
     
      id="team[motto]"
      id="member1_name"
      id="member1_power"
      id="member1_bio"
      id="member2_name"
      id="member2_power"
      id="member2_bio"
      id="member3_name"
      id="member3_power"
      id="member3_bio"
      
    </form>
  
  </body>
</html>
